@charset "UTF-8";
/* IMPORT */
/* PARTIALS */
/*FOOTER */
footer {
  display: grid;
  grid-template-columns: auto;
  background-image: linear-gradient(to right, #000000, #010001, #020002, #030003, #020005, #020007, #010008, #00000a, #00000c, #00000d, #00000f, #000010);
  width: 100%;
  height: 15vh; }

:root {
  --facebook: #3b5999;
  --instagram: #e4405f;
  --whatsapp: #25D366; }

.redes-container {
  margin: 30px;
  justify-content: center; }

.redes-container ul li {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  align-items: center;
  text-align: center; }

.redes-container ul li a {
  display: block;
  padding: 0 10px;
  color: white;
  line-height: 50px;
  font-size: 18px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2); }

.redes-container ul:hover a {
  filter: blur(2px); }

.redes-container ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none; }

.redes-container ul li .facebook:hover {
  background: var(--facebook); }

.redes-container ul li .instagram:hover {
  background: var(--instagram); }

.redes-container ul li .whatsapp:hover {
  background: var(--whatsapp); }

/*RESETEO*/
* {
  margin: 0%;
  padding: 0%; }

html {
  font-family: 'Arima Madurai', cursive; }

/*REPETIDO EN VARIAS PAGINAS */
.titulo {
  font-size: 1.6em;
  padding-top: .5em;
  font-weight: 300;
  text-align: center;
  font-weight: 400; }

.parrafo_frase {
  border: groove;
  text-align: center;
  margin: 20px;
  padding: 10px; }

.campaña-div {
  width: auto;
  height: auto;
  justify-content: center;
  padding-left: 25%; }

.campaña {
  width: 600px;
  height: 600px; }

/* HEADER */
.nav {
  background-image: url("../public/encabezado.jpg"); }

.nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .nav ul li {
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 5px; }
    .nav ul li a {
      text-decoration: none;
      color: white;
      font-size: 20px; }
    .nav ul li a:hover {
      background-color: tomato; }
  .nav ul li:first-of-type {
    padding-right: 50px; }
  .nav ul .btn {
    display: none; }
  .nav ul .li-pages {
    order: 3; }
  .nav ul .li-activo a {
    color: yellow; }

@media all and (max-width: 900px) {
  .nav ul .btn {
    display: block; }
  .nav .li-pages {
    display: none;
    width: 100%; }
  .nav .logo.show {
    padding-left: 10px; }
  .nav .li-pages.show {
    display: block;
    text-align: center; } }

/* PAGES */
/*INICIO */
.slider {
  width: 95%;
  margin: auto;
  overflow: hidden; }
  .slider ul {
    display: flex;
    width: 400%;
    height: 100%;
    animation: cambio 20s infinite alternate linear; }
  .slider li {
    width: 100%;
    list-style: none; }
  .slider img {
    width: 100%;
    height: 100%; }

@keyframes cambio {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }

@media screen and (max-width: 992px) {
  .container-fluid {
    display: grid;
    grid-template-columns: auto;
    background: url(./public/encabezado.jpg);
    width: 100%;
    height: 45vh; }
  .centro_abajo li {
    display: inline-block;
    justify-items: center;
    padding: 1rem 1rem; } }

/*QUIENES SOMOS */
.div-acciones-qs {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  flex-basis: 500px;
  justify-content: center;
  gap: 15px; }
  .div-acciones-qs .qs {
    margin-top: 10px;
    margin-bottom: 18px;
    padding: 15px;
    padding-top: 10px;
    background-color: burlywood;
    max-width: 500px;
    justify-content: center;
    display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-template-areas: "img" "text";
    grid-template-rows: 150px;
    grid-template-columns: 300px;
    gap: 10px; }
    .div-acciones-qs .qs img {
      max-height: 100%;
      grid-area: img;
      justify-self: center; }
    .div-acciones-qs .qs .text {
      grid-area: text; }
    .div-acciones-qs .qs .text p {
      word-break: break-all; }

@media screen and (max-width: 992px) {
  .container-fluid {
    display: grid;
    grid-template-columns: auto;
    background: url(./public/encabezado.jpg);
    width: 100%;
    height: 45vh; } }

/*ACCIONES */
.div-acciones {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  flex-basis: 500px;
  justify-content: center;
  gap: 15px; }

.acciones {
  margin-bottom: 18px;
  padding: 15px;
  padding-top: 10px;
  background-color: burlywood;
  max-width: 500px;
  justify-content: center;
  display: grid;
  grid-column: 1;
  grid-row: 2;
  grid-template-areas: "img" "text";
  grid-template-rows: 300px;
  grid-template-columns: 500px;
  gap: 10px; }
  .acciones img {
    max-height: 100%;
    grid-area: img;
    justify-self: center; }
  .acciones .text {
    grid-area: text; }
  .acciones .text p {
    word-break: break-all; }

/*NOVEDADES */
#detalles {
  justify-content: center; }
  #detalles .image-detalles {
    width: 50px; }
  #detalles img {
    width: 30%;
    padding: 50px; }

.detalles .caja-contenedor h1 {
  font-size: 5.5rem;
  color: red;
  text-transform: uppercase; }

.heading {
  text-align: center;
  background: tomato;
  color: transparent;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem; }

section p {
  background-color: burlywood;
  word-break: break-all;
  text-align: center;
  color: black;
  width: auto;
  height: auto;
  padding: 10px; }

.parrafo_frase {
  border: groove;
  text-align: center;
  margin: 30px;
  padding: 20px; }

@media screen and (max-width: 992px) {
  .container-fluid {
    display: grid;
    grid-template-columns: auto;
    background: url(./public/encabezado.jpg);
    width: 100%;
    height: 45vh; }
  .centro_abajo li {
    display: inline-block;
    justify-items: center;
    padding: 1rem 1rem; } }

/* ACTUA */
.div-acciones-qs {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  flex-basis: 500px;
  justify-content: center;
  gap: 15px; }
  .div-acciones-qs .qs-actua {
    margin-top: 10px;
    margin-bottom: 18px;
    padding: 15px;
    padding-top: 10px;
    background-color: burlywood;
    max-width: 500px;
    justify-content: center;
    display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-template-areas: "img" "text";
    grid-template-rows: 214px;
    grid-template-columns: 300px;
    gap: 10px; }
    .div-acciones-qs .qs-actua img {
      max-height: 100%;
      grid-area: img;
      justify-self: center; }
    .div-acciones-qs .qs-actua .text {
      grid-area: text; }
    .div-acciones-qs .qs-actua .text p {
      word-break: break-all; }

@media screen and (max-width: 992px) {
  .container-fluid {
    display: grid;
    grid-template-columns: auto;
    background: url(./public/encabezado.jpg);
    width: 100%;
    height: 45vh; }
  .centro_abajo li {
    display: inline-block;
    justify-items: center;
    padding: 1rem 1rem; } }
