/*RESETEO*/
*{
    margin: 0%;
    padding: 0%;
    }
    
    /* INICIO */
    html{
        font-family: 'Arima Madurai', cursive; 
    }
    
    .container-fluid {
        display: grid;
        grid-template-columns: auto;
        background: url(/public/encabezado.jpg);
        width: 100%;
        height: 20vh;
    }
    
    
    .navbar-light .navbar-nav .nav-link {
        color: black;
        padding-right: 4.6rem;
        padding-left: 0.5rem;
    }
    
    
    
    div a:hover {
        background-color: tomato;
        padding-right: 0.6rem;
        padding-left: 0.5rem;
    
    }
    
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: initial;
        align-items: center;
    }
    
    .main_index{
        display: flex;
        justify-content: flex-start;
        background-color: burlywood;
        transform: translate(-35px,0px);
        margin: 5vh;
        height: 60vh;
    }
    
    /*SECCION MEDIO ABAJO */
    
    .frase {
        background-color: #cccccc;
        margin: 15px;
        width: auto;
        padding: 10px;
    }
    
    .frase  {
        text-align: center;
    }
    
    section p {
        background-color: #cccccc;
        color: black;
        width: auto;
        height:auto;
        padding: 10px;
    }
    
    .parrafo_frase {
        border: groove;
        text-align: center;
        margin: 20px;
        padding: 10px;
    }
    
    .campaña-div {
        width: auto;
        height: auto;
        justify-content: center;
        padding-left: 25%;
    }

    .campaña { 
        width: 600px;
        height: 600px;
        
    }

    /* FOOTER - FINAL DE PAGINA */
    
    footer {
        display: grid;
        grid-template-columns: auto;
        background-image: linear-gradient(to right, #000000, #010001, #020002, #030003, #020005, #020007, #010008, #00000a, #00000c, #00000d, #00000f, #000010);
        width: 100%;
        height: 15vh;
    }
    
    :root {
        --facebook: #3b5999;
        --instagram: #e4405f;
        --whatsapp: #25D366;
    }
        
    .redes-container ul li{
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }

    .redes-container{
        margin: 30px;
        justify-content: center;
    }
    
    ol, ul {
        padding-left: 30rem;
    }

    
    .redes-container ul li {
        display: inline-block;
        margin: 0 5px;
        width: 50px;
        height: 50px;
        text-align:center;
    }
    
    .redes-container ul li a { 
        display: block;
        padding: 0 10px;
        color: white;
        line-height: 50px;
        font-size: 18px;
        box-shadow:  0 3px 5px 0px rgba(0, 0, 0, .2 ) ;
        transition: .2s;
    }
    
    .redes-container ul:hover a {
        filter: blur(2px) ;
    }
    
    .redes-container ul li a:hover {
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
        filter: none;
    }
    
    .redes-container ul li .facebook:hover {
        background: var(--facebook);
    }
    
    .redes-container ul li .instagram:hover {
        background: var(--instagram);
    }
    
    .redes-container ul li .whatsapp:hover {
        background: var(--whatsapp);
    }



    /* QUIENES SOMOS */
    .slider {
        width: 500px;
        height: 300px;
        position: relative;
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    .slider img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
    }
    
    .slider input [type="radio"] {
        position: relative;
        z-index: 50;
        margin: 10px;
    
    }
    
    .slider input [type="radio"]:checked ~ img {
        opacity: 1;
    }   



    /* ACCIONES */
    
    
    
    .card{
    
        margin: 1.8%;
        padding: 0%;
        background-image: linear-gradient(to right, #ae1d1d, #ae2020, #ae2323, #ae2626, #ae2929, #ae2c2c, #ae2e2e, #ae3131, #ae3434, #ae3737, #ae3a3a, #ae3d3d);
        justify-content: center;
    }
    
    .row {
        justify-content: center;
    }
    
    .row>* {
    
        max-width: 55%;
    
    }
    
    .card-title {
        text-align: center;
        background-color: ivory;
    }
    
    .card-text {
        color: black;
    }
     
    @media screen and (max-width:992px){
        .container-fluid {
            display: grid;
            grid-template-columns: auto;
            background: url(./public/encabezado.jpg);
            width: 100%;
            height: 45vh;
        }
    
        .centro_abajo li {
            display: inline-block;
            justify-items: center;
            padding: 1rem 1rem;
        }
    } 