/*ACCIONES */

.div-acciones {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-basis: 500px;
    justify-content: center;
    gap: 15px;
     
}

.acciones {
    margin-bottom: 18px;
    padding: 15px;
    padding-top: 10px;
    background-color: burlywood;
    max-width:500px ;
    justify-content: center;
    display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-template-areas:"img"
                        "text"  ;
    grid-template-rows: 300px;
    grid-template-columns: 500px;
    gap: 10px;
    

    img{

        max-height: 100%;
        grid-area: img ;
        justify-self: center;
    }   

    .text {
        grid-area: text;
    }

    .text p {
        word-break: break-all;
    }

}
