.main_index {
    display: flex;
    justify-content: flex-start;
    background-color: burlywood;
    transform: translate(-35px, 0px);
    margin: 5vh;
    height: 60vh; }
  
  .medio_pagina {
    display: grid;
    grid-template-columns: 33,3% 33,3%; }
  
  .medio_pagina div ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  
  .foto_medio {
    width: 100%;
    height: 50vh; }
  
  .centro_abajo li {
    display: inline-block;
    justify-items: center;
    padding: 3rem 8rem; }
  
  .centro_abajo li a {
    color: black; }
  
  .centro_abajo li a:hover {
    background-color: tomato;
    overflow: hidden; }
  
  /*SECCION MEDIO ABAJO */
  
  section p {
    background-color: #cccccc;
    color: black;
    width: auto;
    height: auto;
    padding: 10px; }
  
  .parrafo_frase {
    border: groove;
    text-align: center;
    margin: 20px;
    padding: 10px; }
  